/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
.navigation-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  font-size: 15px;
  margin: 25px;
  width: 100%;
  height: 200px;
} 
.table-menu{
  width: 75%;
  height: auto;
  margin-top: 30%;
  background-color: gray;
  padding: 1%;
}
.myInputs{
  margin-right: 1%;
  margin-left: 1%;
}
.columns{
  padding-right: 90px;
  padding-left: 20px;
}
.scroll { 
  display: block; 
  border: 0px solid red; 
  padding: 5px; 
  margin-top: 5px; 
  width: 100%; 
  height: 300px; 
  overflow-y: scroll; 
  background-color: aliceblue;
} 
.navigation-menu .search-container {
  margin-bottom: 10%;
}

